

@font-face {
  font-family: "Graphik LCG";
  src:url("./components/assets/graphlink/Graphik-Regular-Web.ttf");
}

@font-face {
  font-family: "GraphikLight";
  src:url("./components/assets/graphlink/GraphikLCG-Light.ttf");
}

@font-face {
  font-family: "GraphikMedium";
  src:url("./components/assets/graphlink/Graphik-Medium-Web.ttf");
}

@font-face {
  font-family: "GraphikBold";
  src:url("./components/assets/graphlink/Graphik-Bold-Web.ttf");
}

@font-face {
  font-family: "ComforterBrush";
  src:url("./components/assets/fonts/ComforterBrush-Regular.ttf");
}

@font-face {
  font-family: "MarckScript";
  src:url("./components/assets/fonts/MarckScript-Regular.ttf");
}
  


